body{
    background-image: url("../images/Bitm image.png");
    background-repeat: no-repeat;
    background-size: cover;
}


#chessboard{
    width: 800px;
    height:800px;
    border: solid red 1px;
    opacity: .2;
}
.blackBox{
    width: 100px;
    height:100px;
    background-color: black;
    float:left;
}
.whiteBox{
    width: 100px;
    height:100px;
    background-color: white;
    float:left;
}